.container {
    height: 100vh;
    display: flex;
}

.container-inner {
    margin: auto;
    text-align: center;
}

.bot-img {
    max-width: 200px;
}

.container-inner-text {
    padding-top: 0.2em;
}

.container-inner-text h1 {
    margin: 0 0 0.35em;
    font-size: 2.1rem;
}

.container-inner-text p {
    margin: 0 0 2.2em;
    color: #64B5F6;
}

.title {
    color: #42A5F5;
    font-family: "Orbitron", sans-serif;
}
