button {
    border: none;
    color: #E0E0E0;
    border-radius: 4px;
  }

.action-button {
    background-color: #FF6F00;
    color: #FFFFFF;
}

.action-button:disabled {
    opacity: 0.6; /* You can adjust the opacity to your preference */
    cursor: not-allowed;
  }

.button-small {
    padding: 6px 12px;
}
