#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    gap: 1.5em;
    padding: 2em 1.5em;
}

.timer-container {
    position: relative;
    max-width: 175px;
    margin-bottom: -25px;
}

.timer-container img {
    max-width: 170px;
}

.box {
    height: 169px;
    width: 174px;
}

.box-absolute {
    position: absolute;
}

.time,
.time-up {
    text-align: center;
}

.time {
    color: #42A5F5;
    font-family: "Orbitron", sans-serif;
    position: absolute;
    top: 50px;
    left: 52px;
}

.time-up {
    color: #FF6F00;
    
}

.answer-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#check-answers {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
}

#results {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    padding-top: 1.5em;
}

.score {
    color: #1E88E5;
}




