button {
    border: none;
    color: #E0E0E0;
    border-radius: 12px;
  }

.action-button {
  color: #FFFFFF;
  background: linear-gradient(90deg, rgba(255,111,0,1) 26%, rgba(255,157,0,1) 65%);
  font-weight: bold;
}

.action-button:disabled {
    opacity: 0.6; /* You can adjust the opacity to your preference */
    cursor: not-allowed;
  }

.button-small {
    padding: 0.8em 1.5em;
}

.button-big {
  padding: 0.725em 2.5em;
  font-size: 17px;
}