#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    gap: 1.5em;
    padding: 2em 1.5em;
}

.timer-container {
    position: relative;
    max-width: 175px;
    margin-bottom: -25px;
}

.timer-container img {
    max-width: 170px;
}

.box {
    height: 169px;
    width: 174px;
}

.box-absolute {
    position: absolute;
}

.time,
.time-up {
    text-align: center;
}

.time {
    color: #42A5F5;
    font-family: "Orbitron", sans-serif;
    position: absolute;
    top: 50px;
    left: 52px;
}

.time-stopped {
    color: #FF4081;
}

.time-up {
    color: #FF6F00;
    
}

.answer-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#check-answers {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
}

#results {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    padding-top: 0.8em;
}

.score {
    color: #1E88E5;
}

/* modal */
  
.modal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 45px;
    margin: auto;
    height: 380px;
    width: 340px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 1px #444444;
    background-color: #1C1F24;
    color: #42A5F5;
}

.modal-hidden {
    display: none;
}

.modal-inner{
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h3 {
    margin: 0.8em 0 0;
}

.modal p {
    margin: 1em 0 0;
}


/* modal button close */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: #FF4081;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: #D63264;
    cursor: pointer;
}
