*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

/* Add the role="list" attribute-value to all lists that you’d like screen readers to announce as such, because list-style: none; disables this ability in some web browsers. */

article ol,
article ul {
    list-style-position: inside;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

  label,
  button,
  select,
  summary,
  [type=radio],
  [type=submit],
  [type=checkbox] {
      cursor: pointer;
  }

  /* */

  body {
    background-color: #141414;
    color: whitesmoke;
  }

  .correct-answer {
    color: green;
  }

  button {
    border: none;
    color: #E0E0E0;
    border-radius: 4px;
  }
  
  .answer-buttons-container {
    display: flex;
    gap: 10px;
  }

  .answer-button {
    background-color: purple;
  }

